@media screen and (min-width: 992px) {



.btnlist {
    gap: 2px;
}
.circle {
    width: 28%;
}
.circle i {
    margin-left: 20px;
    font-size: 1.6vw;
}
.circle button {
    font-size: 1.2vw;
    padding: 20px 38px 20px 0;
}
.name h3 {
    font-size: 1.4vw;
}
.name h4 {
    font-size: 1.2vw;
}
}

@media screen and (min-width: 1700px) {

.container h3 {
    font-size: 24px;
}
.container h4 {
    font-size: 22px;
}
.container i {
    font-size: 32px;
}
}